<ion-header>
    <ion-toolbar>
        <ion-title>Facturas</ion-title>

    </ion-toolbar>
    <ion-searchbar></ion-searchbar>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline"></ion-refresher-content>
    </ion-refresher>


    <ion-list>
        <ion-item-sliding *ngFor="let factura of facturas">
            <ion-item>
                <ion-card class="card-list">
                    <ion-card-content>
                        <div>
                            <ion-icon class="icon" name="document-outline"></ion-icon>
                        </div>
                        <div>N°: P{{factura.no_presu}}</div>
                        <div>Cliente: {{factura.cedula_cli}} {{factura.nombre_cli}}</div>
                        <div>Estatus: {{factura.status_pre}}</div>
                        <div>Costo: {{factura.costo}}$</div>

                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-item-sliding>
    </ion-list>



</ion-content>