<ion-header>
    <ion-toolbar>
        <ion-title>Facturas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-card class="card-list">
                <ion-card-content>

                    <div>N°: R00001</div>
                    <div>Técnico:</div>
                    <div>Estatus: <img class="status" src="assets/icon/estatus_1.png"> Pendiente</div>

                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <ion-card class="card-list">
                <ion-card-content>

                    <div>N°: R00001</div>
                    <div>Técnico:</div>
                    <div>Estatus: <img class="status" src="assets/icon/estatus_2.png"> Pendiente</div>

                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>