<ion-header>
    <ion-toolbar>
        <ion-title>Casos</ion-title>

    </ion-toolbar>
    <ion-searchbar></ion-searchbar>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline"></ion-refresher-content>
    </ion-refresher>


    <ion-list>
        <ion-item-sliding *ngFor="let presupuesto of presupuestos">
            <ion-item>
                <ion-card class="card-list">
                    <ion-card-content>
                        <div>
                            <ion-icon class="icon" name="document-outline"></ion-icon>
                        </div>
                        <div>N°: P{{presupuesto.no_presu}}</div>
                        <div>Cliente: {{presupuesto.cedula_cli}} {{presupuesto.nombre_cli}}</div>
                        <div>Estatus: {{presupuesto.status_pre}}</div>
                        <div>Costo: {{presupuesto.costo}}$</div>

                    </ion-card-content>
                </ion-card>
            </ion-item>
            <!-- <ion-item-options>
            <ion-item-option color="success">Update</ion-item-option>
                <ion-item-option color="danger">Delete</ion-item-option>
            </ion-item-options> -->
        </ion-item-sliding>
    </ion-list>



</ion-content>