<ion-content>
    <ion-slides pager="true">
        <ion-slide class="slide-one">
            <ion-img src="../assets/icon/favicon.png"></ion-img>
            <h1>SISTEMAS VENPRO</h1>
            <p class="labelintro">
                Taller Mecánico.<br>
                <span>Administrar</span>
            </p>
        </ion-slide>
        <ion-slide class="slide-two">
            <ion-img src="../assets/icon/logo.png"></ion-img>
            <p class="labelintro"></p>
            <ion-button color="success" (click)="openLogin()">Login</ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>